#Binary Files
*.bin
*.sys
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

.gdbinit 
Kernel/.gdbinit
Userland/.gdbinit

docker_build_command.sh
.vscode/settings.json
.bash_history
.gdb_history
cscope.*
.vscode